@import url(https://fonts.googleapis.com/css?family=Nosifer);

.ocean-ui-comments-commentbase-like-count {
    background-image: url(LIKE_IMAGE_URL);
    vertical-align: middle;
}

.ocean-ui-comments-commentbase-like-count-active {
    background-image: url(LIKE_IMAGE_URL);
}

body{
	background-image: url(BACKGROUND_IMAGE_URL);
	color: white;
	font-family: "Nosifer", cursive !important;
}


.gaia-argoui-widget{
	background-color: transparent;
	border-style: solid; 
    border-color: white;
}

.ocean-ntf-ntfitem-content {
    color: white;
}

.ocean-ntf-ntfitem-space {
    color: white;
    font-size: 20px;
}

.ocean-ntf-ntfitem-info {
    color: #E06363;
}

.gaia-argoui-widget-header {
    background-image: url(BACKGROUND_IMAGE_URL) !important;
    background-repeat: repeat !important;
}

.gaia-argoui-spacescrollinglist-item {
    font-color: #BD3A3A;
}

.gaia-header-header-logo {
    height: 200px;
    background-image: url(BACKGROUND_IMAGE_URL);
    line-height: normal;
}

.gaia-argoui-ntf-twopane-listmenu {
	background-color: transparent;
}

.ocean-ui-comments-commentcomponent {
    background-color: #fff;
    font-size: 14px;
}

.ocean-ui-comments-commentcomponent {
    background-color: transparent;
}

.gaia-argoui-spacescrollinglist-name, .gaia-argoui-appscrollinglist-item{
	color: #C90808;
}

span.ocean-ui-comments-commentbase-text {
    color: green;
}

.ocean-ui-comments-commentcomponent {
    background-image: url(BACKGROUND_IMAGE_URL);
}

.gaia-argoui-space-spacecontent.three-pane .gaia-argoui-space-spacecontent-left {
    background-image: url(BACKGROUND_IMAGE_URL);
}

.ocean-space-thread-body {
     background-color: #000;
}
